@import 'resets', 'variables';

.header {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: $navy-blue;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    background-color: #90E0EF;
    border-radius: 3px;
    box-shadow: 0 0 8px 2px inset;
    padding: 2px;
}

.page-icon {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
    z-index: 1;
}

.exclamation {
    width: 43px;
    transform: rotate(25deg) translateX(-4px);
}